
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto&display=swap');

  :root{
    --sm-font: 'Poppins', sans-serif;
    --lg-font: 'Roboto', sans-serif;
  }
  #logoA{
    width: 10rem;
    height: 10rem;
    border-radius: 30%;
  }
  .nav-link{
    color: black;
    font-family: 'Poppins';
  }
  .nav-link:hover{
    color: rgb(224, 169, 17);
    
  }
  .btn{
   border-color: rgb(224, 169, 17);
   
  }
  .btn:hover{
    background-color: rgb(224, 169, 17);
    border-color: rgb(122, 92, 9);
  }
  #searchBtn{
    --bs-btn-active-color:rgb(122, 92, 9);
  }
  #cart{
    width: 1.5rem;
    height: 1.5rem;
  }
  nav{
    margin-bottom: 1rem;
    box-shadow: 15px  10px 5px rgba(0, 0, 0, 0.192);
  }
  header{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #carouselExampleFade{
    height: 800px;
    width: 80%;
    align-items: center;
    margin-bottom: 3rem;
  }
  .carousel-item{
    height: 50rem;
    width: 100%;
  }
  .d-block{
    height: 70rem;
    width: 80%;
  }
  .caption{
    font-size: 8rem;
    font-family: 'Poppins';
  }
  .captionP{
    font-size: 2rem;
    font-family: 'Poppins';
  }
  .shopBtn{
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Poppins';
    background-color: rgba(212, 212, 212, 0.329);
    padding: 0.5rem;
    border-radius: 4px;
  }
  .shopBtn:hover{
    background-color: rgba(121, 119, 119, 0.637);
  }
 
  .container{
    margin: auto;
  }
  #optionBtn{
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: rgb(58, 58, 58);
  }
  #optionBtn:hover{
    background-color: rgba(134, 134, 134, 0.774);
  }
  .active-filter-btn{
    background-color:rgba(134, 134, 134, 0.774);
  }
  .clothOp{
    width: 18rem;
    height: 20rem;
    margin-bottom: 1rem;
    
  }
  .photo{
    overflow: hidden;
  }
  img {
    width: 18rem;
    height: 20rem;
    transition: transform 0.25s;
  }
  .photo:hover img {
    transform: scale(1.1);
  }
  .description{
    margin-bottom: 0rem;
  }
  .col-md-4{
    margin-bottom: 1.5rem;
  }
  #collection{
    margin-top: 5rem;
    margin-bottom: 8rem;
  }
  .collectionName{
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .collectionBtn{
    text-decoration: none;
    border-radius: 10px;
    padding: 0.3rem;
    color: rgb(0, 0, 0);
    background-color: rgba(58, 58, 58, 0.301);
  }
  footer{
    padding-top: 3rem;
    background-color: rgb(94, 94, 94);
    color: white;
  }
  .fw-light{
    color: white;
  }
  i{
    color: white;
  }
  .icon{
    width: 2rem;
    height: 2rem;
  }